body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0 auto;
}

/* Top nav bar */
nav {
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: rgb(0, 15, 66);
}

/* Hide until in mobile view */
.mobile-view-links {
  display: none;
}

/* Picture and company name */
.logo {
  display: flex;
  align-items: center;
  width: 30%;
}

/* Company name with link */
.logo a {
  text-decoration: none;
  color: rgb(0, 15, 66);
}

/* The logo */
.logo img {
 height: 60px;
 width: 60px;
 margin-right: 20px;
}

/* Main links */
.links {
  display: inline-flex;
  width: 70%;
  justify-content: flex-end;
}
.links a {
  text-decoration: none;
  list-style-type: none;
  padding: 0 15px;
  color: rgb(0, 15, 66);
}

.links a:hover {
  color: rgb(123, 180, 233);
}

/* all banners with titles */
aside {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url(./images/background-main.jpg);
  background-size: cover;
  height: 300px;
  padding: 20px 20px 20px 40px;
  color: white;
}

.banner-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-challenge, .banner-uneartha {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.banner-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

.banner-homepage h4 {
  max-width: 80%;
}

/* main body */
.main-homepage {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.main-homepage p {
  font-size: 0.9rem;
  font-weight: 300;
  background-color: rgb(0, 157, 230);
  color: white;
  padding: 10px 10px 20px 20px;
  width: 40%;
  margin: 20px 15px;
}

/* Uneartha and Customer Challenge information boxes */
.uneartha {
  display: flex;  
  background-image: linear-gradient(
    rgba(194, 194, 194, 0.5),
    rgba(255, 255, 255, 0.5) );
  color: white;
}

.uneartha-blog {
  display: block;
  text-decoration: none;
  width: 150px;
  background-color: rgb(5, 82, 155);
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 4%;
  font-weight: 500;
  padding: 50px;
  color: white;
}

.uneartha-blog:hover {
  background-color: rgb(123, 180, 233);
  transition: 0.2s;
  color: rgb(77, 77, 77);
}


/*  bottom, footer */
footer {
  background-image: linear-gradient(
    rgba(194, 194, 194, 0.5),
    rgba(255, 255, 255, 0.5) );
  padding: 30px 10px;
}

footer a {
  text-decoration: none;
  list-style-type: none;
  padding: 0 10px;
  color: rgb(0, 15, 66);
}

footer a:hover {
  color: rgb(123, 180, 233);
}

footer p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.5em;
  font-weight: 300;
  color: rgb(5, 82, 155);
}

/* Customer Challenge Page */
.main-challenge {
  margin: 30px 30px;
  font-weight: 300;
  max-width: 900px;
}

.main-challenge img {
  float: left;
  height: 40px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.main-challenge p{
  text-align: justify;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Customer Challenge approach pictures */
.approach-section {
  background-color: rgba(5, 82, 155, 0.1);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.approach {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 950px;
}

.approach img {
  width: 80%;
}

/* About Us - Management Team Page */
.main-team {
  margin: 40px 30px 30px 30px;
  font-weight: 300;
  max-width: 900px;
  position: relative;
}

.main-team h3 {
  margin-top: 0;
}

.main-team img {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.main-team article {
  padding-left: 120px;
  padding-bottom: 30px;
}

.main-team .cv{
  text-decoration: none;
  list-style-type: circle;
}


/* Uneartha Landscape */
.main-uneartha {
  margin: 30px 30px;
  font-weight: 300;
  max-width: 900px;
}

.main-uneartha img {
  float: left;
  height: 20px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* landscape picture */
.uneartha-landscape {
  display: flex;
  justify-content: center;
}

.uneartha-landscape img {
  max-height: 65vw;
  padding: 30px 0;
}


/* For smaller screens, mobile phones */
@media only screen and (max-width: 768px) {
  
  /* Top navbar - change to block view */
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

  .logo img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
   }

   nav {
    flex-direction: column;
  }

/* Extra options reveal in mobile view */
  .mobile-view-links {
    display: block;
  }
  
  .links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .links a {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 0;
  }

  /* Banner pictures */
  aside {
    height: 200px;
    padding: 30px 20px 30px 20px;
  }

  .banner-homepage h2, .banner-homepage h4 {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .banner-homepage h4 {
    max-width: 100%;
  }

  /* Homepage main body */
  .main-homepage {
    display: block;
    margin: 0;
  }

  .main-homepage p {
    font-size: 0.8rem;
    padding: 5px 5px 10px 10px;
    width: auto;
    margin: 10px;
  }

  /* 2 bottom blue link boxes */
  .uneartha {
    display: block;
    width: 100%;
  }

  .uneartha-blog {
    width: auto;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
  }

  /* Footer */
  footer a {
    display: block;
    text-align: center;
  }

  /* Uneartha Landscape */
  .uneartha-landscape img {
    padding: 10px 0;
  }

  .main-uneartha h4, .main-uneartha p {
    font-size: 0.9rem;
  }

  /* Customer Challenge Page */
  .main-challenge p {
    font-size: 0.9rem;
  }

  .main-challenge img {
    height: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .main-challenge p{
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .approach-section {
    padding: 20px 0;
  }

  .approach h2 {
    font-size: 1.1rem;
  }
  
  .approach img {
    width: 100%;
    padding: 0, 20px;
  }

  /* About Us Page */
  .main-team {
    font-size: 0.9rem;
  }
  
  .main-team img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-team h3 {
    text-align: center;
  }
  
  .main-team article {
    padding: 10px 0;
  }
}

